* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.banner {
    /* background-image:url(../img/image1.jpg); */
    /* background-image:url(../img/1562481027_2.jpg); */
    background-image: url(../img/3D-Кони.jpg);
    height: 768px;
    position: relative;
    background-repeat: no-repeat;


}

.banner__title {
    height: 100px;
    background-color: rgba(69, 25, 25, 0.3);
    margin-top: 627px;
    position: absolute;
    /* уточнить что это за оператор, почему так */
    width: 100%;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    /* text-decoration: underline rgb(17, 42, 186); */
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
}

.banner__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
    justify-content: space-around;
    /* ели убираю ширену все перходит в право???/ */

}

.banner__article {
    width: 300px;
    height: 192px;
    /* margin: 20px; */
    background-color: rgba(25, 183, 128, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    /* color:rgb(21, 34, 210); */
}

.article__title {
    padding: 10px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: azure;
}

.article__text {
    text-align: justify;
    padding: 0px 10px 10px 10px;
    text-align-last: center;
    /* font-family:'Dancing Script', cursive; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align-last: right;
    color: white;
    font-size: 12px;
}

.fa-solid {
    margin-right: 10px;
    color: rgb(52, 169, 22);
    font-size: 25px;
}

.fa-brands {
    margin-right: 10px;
    color: rgb(52, 169, 22);
    font-size: 25px;
}

footer>div {
    width: 50%;

}

footer {
    display: flex;
}

.footer__title {
    padding: 20px 40px 0px 104px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}

.footer__text {
    text-align: justify;
    text-align-last: right;
    padding: 20px 40px;
}

.footer__menu {
    list-style-type: none;
    padding: 20px 40px 0px 104px;
    margin-right: 10px;

}

.footer__menu li {
    margin: 15px 0px;
}

#first__li {
    margin-top: 0px;
}











@media screen and (max-width: 457px) {

    body {
        min-width: 100vw;
        min-height: 100vh;
        
    } 

    .container {
        width: 457px;
        margin: auto;
    }

    .baner {
        background-position: 42%;
        background-size: cover;
        height: 100%;
    }

    .banner__info {
        align-items: center;
        position: absolute;
        margin-top: 150px;
    }

    .banner__article {
        height: 340px;
        width: 90%;
    }

    .article__title {
        font-size: 50px;
    }

    .fas,
    .fa-solid {
        font-size: 40px;
    }

    .article__text {
        font-size: 20px;
    }

}
